<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!-- 链接PIS_M数据库链接    -->
    <add name="SPPContext" connectionString="metadata=res://*/SPPEntities.csdl|res://*/SPPEntities.ssdl|res://*/SPPEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;  data source=CNCTUG0PDMSTST1;initial catalog=PDMS_Test;persist security info=True;user id=justin;password=P@SSw0rd@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
    <!-- <add name="SPPContext" connectionString="metadata=res://*/SPPEntities.csdl|res://*/SPPEntities.ssdl|res://*/SPPEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;  data source=CNCTUG0PDMSDB01;initial catalog=CTU_PDMS_Prod;persist security info=True;user id=PIS_M_MES;password=Xx..520134;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->

    <!-- <add name="SyncIPQCQATargetYield" connectionString="Data Source=Server=CNWXIg0lsqlv01b\inst1;Initial Catalog=MESLDB;User ID=PISUser;Password=PISuser123;Persist Security Info=true;Connection Timeout=600" providerName="System.Data.SqlClient"/>-->

    <add name="SyncIPQCQATargetYield" connectionString="Server=CNWXIg0lsqlv01b\inst1;DataBase=MESLDB;uid=PISUser;pwd=PISuser123"/>
    
  </connectionStrings>

</configuration>