@font-face {
  font-family: 'iconfont';  /* project id 603610 */
  src: url('//at.alicdn.com/t/font_603610_425x64eqgcd.eot');
  src: url('//at.alicdn.com/t/font_603610_425x64eqgcd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_603610_425x64eqgcd.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_603610_425x64eqgcd.woff') format('woff'),
  url('//at.alicdn.com/t/font_603610_425x64eqgcd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_603610_425x64eqgcd.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


