@charset "utf-8";
/*======主視覺及版面重設======*/
.logo-text {
	/*inherit*/	
	}
.portal-header {
	position:fixed;
	width: 100%;
	box-shadow:0px 1px 1px rgba(0,0,0,0.5)
	}
.portal-content-wrapper {
	margin-top:50px;
	}
.portal-content-header {
	padding-bottom:8px;
	padding-top:8px;
	}
.portal-content-header h1 {
	font-size:22px !important
	}
.portal-content {
	min-height: 200px;
	background:#FFF;
	box-shadow:0px -1px 2px rgba(0,0,0,0.2);
	}
.portal-content-jb {
	min-height: 200px;
	background:#FFF;
	border-top:2px solid #00764B;
	box-shadow:0px -1px 2px rgba(0,0,0,0.2);
	}
/*======top search======*/
.search-query {
	position: absolute;
	margin:0px auto 0px auto
	}
.search-field {
	text-align:left;
	margin-top:5px;
	}
/*======margin & padding 空格======*/
.margin-sm-t-5 {
	margin-top: inherit
	}
.margin-xs-t-5 {
	margin-top:5px
	}
/*======form 表單======*/
.form-group-custom {
	margin-bottom: inherit;
	margin-right: inherit
	}
/* form 表單 input使用/ */
form label.no-padding-l {
	padding-left: inherit;
	}
form label.no-padding-vr {
	padding-top:  inherit;
	padding-bottom:  inherit;
	}
form label.no-padding-hr {
    padding-left: inherit;
    padding-right: inherit;
}
/* 斷行*/
.xs-block {
	display: block !important
	}