<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!-- 链接PIS_M数据库链接    -->
    <add name="SPPContext" connectionString="metadata=res://*/SPPEntities.csdl|res://*/SPPEntities.ssdl|res://*/SPPEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;  data source=CNCTUG0PDMSTST1;initial catalog=PDMS_Test;persist security info=True;user id=justin;password=P@SSw0rd@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>