<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--
    <add name="SPPContext" connectionString="metadata=res://*/SPPEntities.csdl|res://*/SPPEntities.ssdl|res://*/SPPEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;  data source=CNCTUG0PDMSTST1;initial catalog=PDMS_Dev;persist security info=True;user id=justin;password=P@SSw0rd@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <add name="SPPContext" connectionString="metadata=res://*/SPPEntities.csdl|res://*/SPPEntities.ssdl|res://*/SPPEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;  data source=CNCTUG0PDMSTST1;initial catalog=PDMS_Test;persist security info=True;user id=justin;password=P@SSw0rd@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SyncGoldenLineCT" connectionString="Data Source=CNCTUG0PDMSTST1;Initial Catalog=PDMS_Test;User ID=1349445;Password=Zz..520134;Persist Security Info=true;Connection Timeout=300" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>